<nav aria-label="breadcrumb" dir="rtl">
  <ol class="breadcrumb justify-content-center" style="background: #182033; color: white !important;">
    <li class="breadcrumb-item text-uppercase"><a href="#">בית</a></li>
    <li class="breadcrumb-item text-uppercase"><a href="#">תוכן</a></li>
    <li class="breadcrumb-item text-uppercase active" aria-current="page">הכל</li>
  </ol>
</nav>

<div class="container">
  <div class="row rtl" style="">
    <div class="col-sm col-md-3">
      <div class="input-group mb-3">
        <div class="input-group-inner">
          <div class="input-group-prepend">
            <span class="input-group-text input-group-icon mr-1" id="inputGroupIconDefault"><i class="far fa-user-alt"></i></span>
          </div>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="inputGroupIconDefault" placeholder="שם">
          <div class="input-focus-bg"></div>
        </div>
      </div>
    </div>
    <div class="col-sm col-md-3">
      <div class="input-group mb-3">
        <div class="input-group-inner">
          <div class="input-group-prepend">
            <span class="input-group-text input-group-icon mr-1" id="inputGroupIconDefault"><i class="far fa-book"></i></span>
          </div>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="inputGroupIconDefault" placeholder="תכנים">
          <div class="input-focus-bg"></div>
        </div>
      </div>
    </div>
    <div class="col-sm col-md-4">
      <div class="input-group mb-3">
        <div class="input-group-inner">
          <div class="input-group-prepend">
            <span class="input-group-text input-group-icon mr-1" id="inputGroupIconDefault"><i class="fas fa-shapes"></i></span>
          </div>
          <select class="custom-select" id="iconWithDropdownDefault">
            <option selected>בחר סוג...</option>
            <option value="1">מתנדב</option>
            <option value="2">קבוצה</option>
            <option value="3">חברה</option>
          </select>
          <div class="input-focus-bg"></div>
        </div>
      </div>
    </div>
    <div class="col-sm col-md-2">
      <button class="btn btn-primary btn-round shadow-none" style="font-size: 1.25em; padding: 4px 8px;" type="button" id="iconWithBtnDefaultAppend">
        חפש
        <i class="fas fa-search mr-1"></i>
      </button>
    </div>
  </div>
  <div class="row rtl" style="">
    <div class="divider-1"></div>
  </div>
</div>

<div class="container">
  <div class="row" style="flex-direction: row-reverse;">
    <div class="col-sm col-md-3">
      <div class="card card-feed-item border-0 shadow">
        <a class="card-feed-img" href="#" target="_blank">
          <img class="card-img-top" src="assets/imgs/user_1.jpg" height="130px" style="object-fit: cover; object-position: 100% 32%;" alt="Card feed">
        </a>
        <div class="card-body mb-1" style="padding-bottom: 0;">
          <a href="#" target="_blank" role="button" style="font-size: 1em; padding: 2px 15px; font-weight: lighter;" class="btn btn-primary btn-round btn-sm card-feed-link"><i class="fas fa-user-alt"></i>מתנדב</a>
          <div style="direction: rtl; text-align: right;">
            <p class="h5">רמי מראלי</p>
            <div class="divider-4 yellow"></div>
            <p class="card-text" style="font-size: 1em; margin: 0;">תכנים:</p>
            <button type="button" class="btn btn-dark btn-sm btn-round shadow-none ml-2 mb-2" style="margin: 0; font-size: 1em; padding: 2px 10px;">
              שימוש בסיסי בסמארטפון
            </button>
            <button type="button" class="btn btn-dark btn-sm btn-round shadow-none ml-2 mb-2" style="margin: 0; font-size: 1em; padding: 2px 10px;">
              רובוטיקה למתחילים
            </button>
            <button type="button" class="btn btn-dark btn-sm btn-round shadow-none ml-2 mb-2" style="margin: 0; font-size: 1em; padding: 2px 10px;">
              מבוא לתכנות
            </button>
          </div>
        </div>
        <div class="card-footer border-0 bg-transparent d-flex align-items-end" style="align-items: center !important; padding: 8px 10px;">
          <div class="meta-item " style="margin-left: 20px;">
            <a href="#" style="font-size: 1.6em;"><i class="fas fa-star" style="color: #F1C40F;"></i>4.9</a>
          </div>
          <div class="meta-item ml-auto">
            <button type="button" class="btn btn-outline-warning btn-sm btn-round" style="margin: 0; color: black; font-size: 1.25em; padding: 2px 10px;">
              <i class="fas fa-external-link-alt" style="position: relative; top: 1px;"></i>
              פתח
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm col-md-3">
      <div class="card card-feed-item border-0 shadow">
        <a class="card-feed-img" href="#" target="_blank">
          <img class="card-img-top" src="assets/imgs/intel.jpg" height="130px" style="object-fit: cover;" alt="Card feed">
        </a>
        <div class="card-body mb-1" style="padding-bottom: 0;">
          <a href="#" target="_blank" role="button" style="font-size: 1em; padding: 2px 15px; font-weight: lighter;" class="btn btn-primary btn-round btn-sm card-feed-link"><i class="fas fa-building"></i>חברה</a>
          <div style="direction: rtl; text-align: right;">
            <p class="h5" style="direction: ltr; font-family: 'Calibri';">Intel LTD.</p>
            <div class="divider-4 yellow"></div>
            <p class="card-text" style="font-size: 1em; margin: 0;">תכנים:</p>
            <button type="button" class="btn btn-dark btn-sm btn-round shadow-none ml-2 mb-2" style="margin: 0; font-size: 1em; padding: 2px 10px;">
              שימוש בסיסי בסמארטפון
            </button>
            <button type="button" class="btn btn-dark btn-sm btn-round shadow-none ml-2 mb-2" style="margin: 0; font-size: 1em; padding: 2px 10px;">
              רובוטיקה למתחילים
            </button>
            <button type="button" class="btn btn-dark btn-sm btn-round shadow-none ml-2 mb-2" style="margin: 0; font-size: 1em; padding: 2px 10px;">
              מבוא לתכנות
            </button>
          </div>
        </div>
        <div class="card-footer border-0 bg-transparent d-flex align-items-end" style="align-items: center !important; padding: 8px 10px;">
          <div class="meta-item " style="margin-left: 20px;">
            <a href="#" style="font-size: 1.6em;"><i class="fas fa-star" style="color: #F1C40F;"></i>4.7</a>
          </div>
          <div class="meta-item ml-auto">
            <button type="button" class="btn btn-outline-warning btn-sm btn-round" style="margin: 0; color: black; font-size: 1.25em; padding: 2px 10px;">
              <i class="fas fa-external-link-alt" style="position: relative; top: 1px;"></i>
              פתח
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm col-md-3">
      <div class="card card-feed-item border-0 shadow">
        <a class="card-feed-img" href="#" target="_blank">
          <img class="card-img-top" src="assets/imgs/BUMBLEB.jpg" height="130px" style="object-fit: cover; object-position: 100% 32%;" alt="Card feed">
        </a>
        <div class="card-body mb-1" style="padding-bottom: 0;">
          <a href="#" target="_blank" role="button" style="font-size: 1em; padding: 2px 15px; font-weight: lighter;" class="btn btn-primary btn-round btn-sm card-feed-link"><i class="fas fa-users"></i>קבוצה</a>
          <div style="direction: rtl; text-align: right;">
            <p class="h5" style="font-family: Calibri">BumbleB#3339</p>
            <div class="divider-4 yellow"></div>
            <p class="card-text" style="font-size: 1em; margin: 0;">תכנים:</p>
            <button type="button" class="btn btn-dark btn-sm btn-round shadow-none ml-2 mb-2" style="margin: 0; font-size: 1em; padding: 2px 10px;">
              שימוש בסיסי בסמארטפון
            </button>
            <button type="button" class="btn btn-dark btn-sm btn-round shadow-none ml-2 mb-2" style="margin: 0; font-size: 1em; padding: 2px 10px;">
              רובוטיקה למתחילים
            </button>
            <button type="button" class="btn btn-dark btn-sm btn-round shadow-none ml-2 mb-2" style="margin: 0; font-size: 1em; padding: 2px 10px;">
              מבוא לתכנות
            </button>
          </div>
        </div>
        <div class="card-footer border-0 bg-transparent d-flex align-items-end" style="align-items: center !important; padding: 8px 10px;">
          <div class="meta-item " style="margin-left: 20px;">
            <a href="#" style="font-size: 1.6em;"><i class="fas fa-star" style="color: #F1C40F;"></i>4.9</a>
          </div>
          <div class="meta-item ml-auto">
            <button type="button" class="btn btn-outline-warning btn-sm btn-round" style="margin: 0; color: black; font-size: 1.25em; padding: 2px 10px;">
              <i class="fas fa-external-link-alt" style="position: relative; top: 1px;"></i>
              פתח
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

