<div class="comp-container" style="min-height: 100%; display: flow-root;">
  <div class="container" style="text-align: right;">
    <div class="row justify-content-center mt-3">
      <div class="col rtl">
        <h2 style="display: inline;">
          תיאום התנדבות
        </h2>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row mb-1">
                <div class="col rtl">
                    <h4 class="secondary-header mt-2 mb-0">
                        בחירת בקשת התנדבות
                    </h4>
                    <div id="accordion" class="list-group">
                        <div *ngFor="let request of volunteeringRequests; index as i" class="list-group-item list-group-item-action align-items-start">
                            <div class="card">
                                <div class="card-header" [attr.id]="'heading'+i">
                                    <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapse'+i" aria-expanded="true" aria-controls="collapseOne">
                                        <h3 class="mb-0">{{request.title}}</h3>
                                    </button>

                                    <small>עבור {{request.organization}}</small>
                                </div>
                                <div [attr.id]="'collapse'+i" class="collapse show" [attr.aria-labelledby]="'heading'+i" data-parent="#accordion">
                                    <div class="card-body">
                                        <h6 class="mb-1">{{request.content.title}}</h6>
                                        <p class="mb-1">{{request.about}}</p>
                                        <small>לתיאום יש לפנות ל- {{request.contact.name}}, {{request.contact.phone}}, {{request.contact.email}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row mb-1">
                <div class="col rtl">
                    <div class="input-group mb-1">
                        <h4 class="secondary-header mt-2 mb-0">
                            בחירת הצעת התנדבות
                        </h4>
                        <table class="table rtl table-sm table-hover" dir="rtl">
                            <thead class="thead">
                            <tr>
                            <th scope="col">שם</th>
                            <th scope="col">מספר מתנדבים</th>
                            <th scope="col">איש קשר</th>
                            <th scope="col">ימות השבוע</th>
                            <th scope="col">איזורים</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let offer of volunteeringOffers"
                                [class.selected]="offer === selectedOffer"
                                (click)="onSelectOffer(offer)">
                            <td>{{offer.title}}</td>
                            <td>{{offer.numberOfVolunteers}}</td>
                            <td>{{offer.contact | styleContact}}</td>
                            <td>{{offer.regions | join: ', '}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col rtl">
            <div class="input-group mb-1">
                <h4 class="secondary-header mt-2 mb-0">
                    תאריך
                </h4>
                <div class="input-group-inner">
                    <ngb-datepicker [(ngModel)]="date"
                                    [ngModelOptions]="{ standalone: true }"
                                    (ngModelChange)="updateEventTime()"></ngb-datepicker>
                </div>
            </div>
        </div>
    </div>

    <form [formGroup]="matchForm" (submit)="sendData()">
        <input type="hidden" formControlName="request" [(ngModel)]="selectedRequest._id">
        <input type="hidden" formControlName="offer" [(ngModel)]="selectedOffer._id">
        <input type="hidden" formControlName="date" [(ngModel)]="eventDate">

        <div class="input-group mb-1 mt-3">
        <button [disabled]="!matchForm.valid"
                type="submit"
                style="font-size: 1.3em;"
                [ngClass]="{'btn-outline-primary': matchForm.valid, 'btn-outline-danger': !matchForm.valid}"
                class="btn shadow-none">תאם
        </button>
        </div>
    </form>
  </div>
</div>
