.selected {
  background-color: #d1d7da !important;
}

ngb-datepicker, ngb-timepicker {
  direction: ltr;
}

.list-group{
    max-height: 1200px;
    margin-bottom: 10px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}