<div class="container">

  <div class="row rtl">
    <div class="px-2 mx-2">
      אנו קבוצות הרובוטיקה <b>BumbleB 3339</b> מתיכון איש שלום בכפר יונה, תלמידי כיתות י׳-י״ב.<br>
      אנו שייכים לארגון FIRST - ארגון בינלאומי שנועד לעודד בני נוער לעסוק במדע וטכנולוגיה.
      מדי שנה אנו בונים רובוט בהתאם לאתגר שמתפרסם בתחילת חודש ינואר בכל העולם. מעבר לכך, מיום הקמתנו בשנת 2010,
      אנחנו מתנדבים באופן סדיר בקהילה במגוון פרויקטים המשפיעים על מגוון רחב של אוכלוסיות- מילדי גן ועד לבני גיל
      הזהב.<br>
      ב-4 השנים האחרונות העפלנו לתחרות הבינלאומית בארה״ב והגענו להישגים מרשימים הן בתחום ההנדסי והן בהפצת מדע
      וטכנולוגיה ותרומה לקהילה.
      השנה, על מנת לעודד את הקהילה להתנדב, החלטנו לפתח את אתר CommuniBee על מנת לחבר בין חברות וארגונים טכנולוגיים
      לבין מקומות התנדבות. וכך, יחד איתכם נוכל לקדם מדע וטכנולוגיה.
    </div>
  </div>

  <div class="row rtl">
    <div class="embed-responsive embed-responsive-16by9 mx-auto" style="width: 40%;">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZA0TpnHeZUI" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
  </div>

  <div class="row rtl">
    <hr class="my-4 py-1">
  </div>

</div>
