<nav aria-label="breadcrumb" dir="rtl">
  <ol class="breadcrumb justify-content-center" style="background: #182033; color: white !important;">
    <li class="breadcrumb-item text-uppercase"><a href="#">בית</a></li>
    <li class="breadcrumb-item text-uppercase"><a href="#">תוכן</a></li>
    <li class="breadcrumb-item text-uppercase active" aria-current="page">הכל</li>
  </ol>
</nav>

<div class="container">
  <div class="row rtl" style="">
    <div class="col-sm col-md-3">
      <div class="input-group mb-3">
        <div class="input-group-inner">
          <div class="input-group-prepend">
            <span class="input-group-text input-group-icon mr-1" id="inputGroupIconDefault"><i class="far fa-font"></i></span>
          </div>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="inputGroupIconDefault" placeholder="כותרת" [(ngModel)]= "title"/>
          <div class="input-focus-bg"></div>
        </div>
      </div>
    </div>
    <div class="col-sm col-md-3">
      <div class="input-group mb-3">
        <div class="input-group-inner">
          <div class="input-group-prepend">
            <span class="input-group-text input-group-icon mr-1" id="inputGroupIconDefault"><i class="far fa-align-right"></i></span>
          </div>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="inputGroupIconDefault" placeholder="תוכן" [(ngModel)]= "description"/>
          <div class="input-focus-bg"></div>
        </div>
      </div>
    </div>
    <div class="col-sm col-md-4">
      <div class="input-group mb-3">
        <div class="input-group-inner">
          <div class="input-group-prepend">
            <span class="input-group-text input-group-icon mr-1" id="inputGroupIconDefault"><i class="fas fa-shapes"></i></span>
          </div>
          <select class="custom-select" id="iconWithDropdownDefault" [(ngModel)]= "category_filter">
            <option selected [value]="-1">בחירת קטגוריה...</option>
            <option *ngFor="let cat of categories" [value]="cat._id">{{cat.name}}</option>
          </select>
          <div class="input-focus-bg"></div>
        </div>
      </div>
    </div>
    <div class="col-sm col-md-2">
      <button (click)="handleClick()" class="btn btn-primary btn-round shadow-none" style="font-size: 1.25em; padding: 4px 8px;" type="button" id="iconWithBtnDefaultAppend">
        חפש
        <i class="fas fa-search mr-1"></i>
      </button>
    </div>
  </div>
  <div class="row rtl" style="">
    <div class="divider-1"></div>
  </div>
</div>

<div class="container">
  <div class="row" style="flex-direction: row-reverse;">
    <div class="col-sm col-md-3" *ngFor="let con_info of contents">
      <div class="card card-feed-item border-0 shadow">        
        <a  role="button" class="card-feed-img" (click)="openFile(con_info._id, con_info.fileName)" target="" [ngSwitch]="con_info.category.name">
          <img *ngSwitchCase="'אלקטרוניקה'" class="card-img-top" src="assets/imgs/electronic.jpg" alt="Card feed" />
          <img *ngSwitchCase="'תכנות'" class="card-img-top" src="assets/imgs/software.jpg" alt="Card feed" />
          <img *ngSwitchCase="'רובוטיקה'" class="card-img-top" src="assets/imgs/robotics.jpg" alt="Card feed" />
          <img *ngSwitchCase="'סמארטפונים'" class="card-img-top" src="assets/imgs/mobile.jpg" alt="Card feed" />
        </a>
        <div class="card-body mb-1" style="padding-bottom: 0;">
          <div style="font-size: 1em; padding: 2px 15px; font-weight: lighter;" class="btn btn-dark btn-round btn-sm card-feed-link"><i class="fas fa-info-circle"></i>{{con_info.category.name}}</div>          
          <div style="direction: rtl; text-align: right;">
            <p class="h5">{{con_info.title}}</p>
            <div class="divider-4 yellow"></div>
            <p class="card-text" style="font-size: 1em;">{{con_info.information}}</p>
            <span class="badge badge-success" *ngFor="let tag of con_info.tags">
              {{tag}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>    

