<nav aria-label="breadcrumb" dir="rtl">
  <ol class="breadcrumb justify-content-center" style="background: #182033; color: white !important;">
    <li class="breadcrumb-item text-uppercase"><a href="#">בית</a></li>
    <li class="breadcrumb-item text-uppercase"><a href="#">תוכן</a></li>
    <li class="breadcrumb-item text-uppercase active" aria-current="page">הכל</li>
  </ol>
</nav>

<div class="container">
  <div class="row" style="flex-direction: row-reverse;">
    <div class="col-sm col-md-3">
      <div class="card card-feed-item border-0 shadow">
        <a class="card-feed-img" href="#" target="_blank">
          <img class="card-img-top" src="assets/imgs/phone_in_hand.jpg" alt="Card feed">
        </a>
        <div class="card-body mb-1" style="padding-bottom: 0;">
          <a href="#" target="_blank" role="button" style="font-size: 1em; padding: 2px 15px; font-weight: lighter;" class="btn btn-dark btn-round btn-sm card-feed-link"><i class="fas fa-tools"></i>סדנא</a>
          <div style="direction: rtl; text-align: right;">
            <p class="h5">שימושים בסיסיים בטלפון חכם</p>
            <div class="divider-4 yellow"></div>
            <p class="card-text" style="font-size: 1em;">קורס בסיסי להעברת ידע בנושאים:
              <br>
              התקשרות, חיפוש באינטרנט, שליחת הודעות, קריאה/האזנה לספרים.</p>
            <span class="badge badge-primary">
              <i class="fas fa-users"></i>
              לכל הגילאים
            </span>
            <span class="badge badge-secondary">
              <i class="fas fa-hammer"></i>
              שימושי
            </span>
            <span class="badge badge-success">
              <i class="fas fa-feather-alt"></i>
              קל
            </span>
          </div>
        </div>
        <div class="card-footer border-0 bg-transparent d-flex align-items-end" style="align-items: center !important; padding: 8px 10px;">
          <div class="meta-item " style="margin-left: 20px;">
            <a href="#"><i class="far fa-thumbs-up"></i>10</a>
          </div>
          <div class="meta-item ">
            <a href="#"><i class="far fa-comment"></i>10</a>
          </div>
          <div class="meta-item ml-auto">
            <button type="button" class="btn btn-outline-warning btn-sm btn-round" style="margin: 0; color: black; font-size: 1.25em; padding: 2px 10px;">
              <i class="fas fa-external-link-alt" style="position: relative; top: 1px;"></i>
              פתח
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm col-md-3">
      <div class="card card-feed-item border-0 shadow">
        <a class="card-feed-img" href="#" target="_blank">
          <img class="card-img-top" src="assets/imgs/phone_in_hand.jpg" alt="Card feed">
        </a>
        <div class="card-body mb-1" style="padding-bottom: 0;">
          <a href="#" target="_blank" role="button" style="font-size: 1em; padding: 2px 15px; font-weight: lighter;" class="btn btn-dark btn-round btn-sm card-feed-link"><i class="fas fa-tools"></i>סדנא</a>
          <div style="direction: rtl; text-align: right;">
            <p class="h5">שימושים בסיסיים בטלפון חכם</p>
            <div class="divider-4 yellow"></div>
            <p class="card-text" style="font-size: 1em;">קורס בסיסי להעברת ידע בנושאים:
              <br>
              התקשרות, חיפוש באינטרנט, שליחת הודעות, קריאה/האזנה לספרים.</p>
            <span class="badge badge-primary">
              <i class="fas fa-users"></i>
              לכל הגילאים
            </span>
            <span class="badge badge-secondary">
              <i class="fas fa-hammer"></i>
              שימושי
            </span>
            <span class="badge badge-success">
              <i class="fas fa-feather-alt"></i>
              קל
            </span>
          </div>
        </div>
        <div class="card-footer border-0 bg-transparent d-flex align-items-end" style="align-items: center !important; padding: 8px 10px;">
          <div class="meta-item " style="margin-left: 20px;">
            <a href="#"><i class="far fa-thumbs-up"></i>10</a>
          </div>
          <div class="meta-item ">
            <a href="#"><i class="far fa-comment"></i>10</a>
          </div>
          <div class="meta-item ml-auto">
            <button type="button" class="btn btn-outline-warning btn-sm btn-round" style="margin: 0; color: black; font-size: 1.25em; padding: 2px 10px;">
              <i class="fas fa-external-link-alt" style="position: relative; top: 1px;"></i>
              פתח
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm col-md-3">
      <div class="card card-feed-item border-0 shadow">
        <a class="card-feed-img" href="#" target="_blank">
          <img class="card-img-top" src="assets/imgs/phone_in_hand.jpg" alt="Card feed">
        </a>
        <div class="card-body mb-1" style="padding-bottom: 0;">
          <a href="#" target="_blank" role="button" style="font-size: 1em; padding: 2px 15px; font-weight: lighter;" class="btn btn-dark btn-round btn-sm card-feed-link"><i class="fas fa-tools"></i>סדנא</a>
          <div style="direction: rtl; text-align: right;">
            <p class="h5">שימושים בסיסיים בטלפון חכם</p>
            <div class="divider-4 yellow"></div>
            <p class="card-text" style="font-size: 1em;">קורס בסיסי להעברת ידע בנושאים:
              <br>
              התקשרות, חיפוש באינטרנט, שליחת הודעות, קריאה/האזנה לספרים.</p>
            <span class="badge badge-primary">
              <i class="fas fa-users"></i>
              לכל הגילאים
            </span>
            <span class="badge badge-secondary">
              <i class="fas fa-hammer"></i>
              שימושי
            </span>
            <span class="badge badge-success">
              <i class="fas fa-feather-alt"></i>
              קל
            </span>
          </div>
        </div>
        <div class="card-footer border-0 bg-transparent d-flex align-items-end" style="align-items: center !important; padding: 8px 10px;">
          <div class="meta-item " style="margin-left: 20px;">
            <a href="#"><i class="far fa-thumbs-up"></i>10</a>
          </div>
          <div class="meta-item ">
            <a href="#"><i class="far fa-comment"></i>10</a>
          </div>
          <div class="meta-item ml-auto">
            <button type="button" class="btn btn-outline-warning btn-sm btn-round" style="margin: 0; color: black; font-size: 1.25em; padding: 2px 10px;">
              <i class="fas fa-external-link-alt" style="position: relative; top: 1px;"></i>
              פתח
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm col-md-3">
      <div class="card card-feed-item border-0 shadow">
        <a class="card-feed-img" href="#" target="_blank">
          <img class="card-img-top" src="assets/imgs/phone_in_hand.jpg" alt="Card feed">
        </a>
        <div class="card-body mb-1" style="padding-bottom: 0;">
          <a href="#" target="_blank" role="button" style="font-size: 1em; padding: 2px 15px; font-weight: lighter;" class="btn btn-dark btn-round btn-sm card-feed-link"><i class="fas fa-tools"></i>סדנא</a>
          <div style="direction: rtl; text-align: right;">
            <p class="h5">שימושים בסיסיים בטלפון חכם</p>
            <div class="divider-4 yellow"></div>
            <p class="card-text" style="font-size: 1em;">קורס בסיסי להעברת ידע בנושאים:
              <br>
              התקשרות, חיפוש באינטרנט, שליחת הודעות, קריאה/האזנה לספרים.</p>
            <span class="badge badge-primary">
              <i class="fas fa-users"></i>
              לכל הגילאים
            </span>
            <span class="badge badge-secondary">
              <i class="fas fa-hammer"></i>
              שימושי
            </span>
            <span class="badge badge-success">
              <i class="fas fa-feather-alt"></i>
              קל
            </span>
          </div>
        </div>
        <div class="card-footer border-0 bg-transparent d-flex align-items-end" style="align-items: center !important; padding: 8px 10px;">
          <div class="meta-item " style="margin-left: 20px;">
            <a href="#"><i class="far fa-thumbs-up"></i>10</a>
          </div>
          <div class="meta-item ">
            <a href="#"><i class="far fa-comment"></i>10</a>
          </div>
          <div class="meta-item ml-auto">
            <button type="button" class="btn btn-outline-warning btn-sm btn-round" style="margin: 0; color: black; font-size: 1.25em; padding: 2px 10px;">
              <i class="fas fa-external-link-alt" style="position: relative; top: 1px;"></i>
              פתח
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm col-md-3">
      <div class="card card-feed-item border-0 shadow">
        <a class="card-feed-img" href="#" target="_blank">
          <img class="card-img-top" src="assets/imgs/phone_in_hand.jpg" alt="Card feed">
        </a>
        <div class="card-body mb-1" style="padding-bottom: 0;">
          <a href="#" target="_blank" role="button" style="font-size: 1em; padding: 2px 15px; font-weight: lighter;" class="btn btn-dark btn-round btn-sm card-feed-link"><i class="fas fa-tools"></i>סדנא</a>
          <div style="direction: rtl; text-align: right;">
            <p class="h5">שימושים בסיסיים בטלפון חכם</p>
            <div class="divider-4 yellow"></div>
            <p class="card-text" style="font-size: 1em;">קורס בסיסי להעברת ידע בנושאים:
              <br>
              התקשרות, חיפוש באינטרנט, שליחת הודעות, קריאה/האזנה לספרים.</p>
            <span class="badge badge-primary">
              <i class="fas fa-users"></i>
              לכל הגילאים
            </span>
            <span class="badge badge-secondary">
              <i class="fas fa-hammer"></i>
              שימושי
            </span>
            <span class="badge badge-success">
              <i class="fas fa-feather-alt"></i>
              קל
            </span>
          </div>
        </div>
        <div class="card-footer border-0 bg-transparent d-flex align-items-end" style="align-items: center !important; padding: 8px 10px;">
          <div class="meta-item " style="margin-left: 20px;">
            <a href="#"><i class="far fa-thumbs-up"></i>10</a>
          </div>
          <div class="meta-item ">
            <a href="#"><i class="far fa-comment"></i>10</a>
          </div>
          <div class="meta-item ml-auto">
            <button type="button" class="btn btn-outline-warning btn-sm btn-round" style="margin: 0; color: black; font-size: 1.25em; padding: 2px 10px;">
              <i class="fas fa-external-link-alt" style="position: relative; top: 1px;"></i>
              פתח
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

