<nav aria-label="breadcrumb" dir="rtl">
  <ol class="breadcrumb justify-content-center" style="background: #182033; color: white !important;">
    <li class="breadcrumb-item text-uppercase"><a href="#">בית</a></li>
    <li class="breadcrumb-item text-uppercase"><a href="#">תוכן</a></li>
    <li class="breadcrumb-item text-uppercase active" aria-current="page">הכל</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card card-feed-item border-0 shadow">
        <a class="card-feed-img" href="#" target="_blank">
          <img class="card-img-top" src="assets/imgs/phone_in_hand.jpg" alt="Card feed">
        </a>
        <div class="card-body mb-1">
          <a href="#" target="_blank" role="button" style="font-size: 1em; padding: 2px 15px;" class="btn btn-dark btn-round btn-sm card-feed-link"><i class="fas fa-hammer"></i>סדנא</a>
          <div style="direction: rtl; text-align: right;">
            <p class="h4">שימושים בסיסיים בטלפון חכם</p>
            <p class="card-text" style="font-size: 1.3em;">קורס בסיסי ע"מ להעביר ידע בנושאים: התקשרות, חיפוש באינטרנט, שליחת הודעות, קריאה/האזנה לספרים.</p>
          </div>
        </div>
        <div class="card-footer border-0 bg-transparent d-flex align-items-end">
          <div class="meta-item mb-2">
            <a href="#"><i class="far fa-thumbs-up"></i>10</a>
          </div>
          <div class="meta-item mb-2">
            <a href="#"><i class="far fa-comment"></i>10</a>
          </div>
          <div class="meta-item mb-2 ml-auto">
            <a href="#"><i class="far fa-share-square"></i>124</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>

