<div class="modal-content model-big rtl">
    <form [formGroup]="addContentForm" #f="ngForm">
        <div class="modal-body text-center px-10 rtl">

            <button #closeBtn type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
            </button>

            <img class="mt-2 mb-4" src="../assets/images/modal-info-icon.png" alt="Information">
            <h4 class="section-title-4 text-center font-weight-800 text-uppercase mb-4 pb-1">
                העלה תוכן
                <div class="title-divider-round"></div>
            </h4>

            <div class="input-group mb-3">
                <h4 class="secondary-header mt-2 mb-0">
                    שם ארגון *
                </h4>
                <div class="input-group-inner">
                    <div class="input-group-prepend">
                    <span class="input-group-text input-group-icon" id="inputGroupIconDefault"><i
                        class="far fa-user-circle"></i></span>
                    </div>
                    <input type="text" formControlName="organization" class="form-control" aria-label="Username"
                        aria-describedby="inputGroupIconDefault"
                        placeholder="שם ארגון...">
                    <div class="input-focus-bg"></div>
                </div>
            </div>

            <h4 class="secondary-header mt-2 mb-0 text-right">
                איש קשר *
            </h4>
            <div class="row rtl justify-content-center" formGroupName="poc">
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                    <div class="input-group-inner">
                        <div class="input-group-prepend">
                    <span class="input-group-text input-group-icon" id="inputGroupIconDefault"><i
                        class="far fa-user"></i></span>
                        </div>
                        <input type="text" formControlName="name" class="form-control" aria-label="Username"
                            aria-describedby="inputGroupIconDefault"
                            placeholder="שם מלא...">
                        <div class="input-focus-bg"></div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                    <div class="input-group-inner">
                        <div class="input-group-prepend">
                    <span class="input-group-text input-group-icon" id="inputGroupIconDefault"><i
                        class="far fa-phone"></i></span>
                        </div>
                        <input type="text" formControlName="phone" class="form-control" aria-label="Username"
                            aria-describedby="inputGroupIconDefault"
                            placeholder="טלפון...">
                        <div class="input-focus-bg"></div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                    <div class="input-group-inner">
                        <div class="input-group-prepend">
                    <span class="input-group-text input-group-icon" id="inputGroupIconDefault"><i
                        class="far fa-at"></i></span>
                        </div>
                        <input type="text" formControlName="email" class="form-control" aria-label="Username"
                            aria-describedby="inputGroupIconDefault"
                            placeholder="אימייל...">
                        <div class="input-focus-bg"></div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <h4 class="secondary-header text-right mt-2 mb-0">
                    נושא ההתנדבות *
                </h4>
                <input formControlName="title" type="text" class="form-control mb-3"  aria-describedby="inputDefault" placeholder="כותרת..." />
            </div>
            
            <div class="form-group">
                <h4 class="secondary-header text-right mt-2 mb-0">
                    תיאור *
                </h4>        
                <textarea formControlName="information" maxlength="200" required="true" class="form-control mb-3" id="contentInformation" aria-describedby="inputDefault" placeholder="תיאור של נושא ההתנדבות..." ></textarea>
            </div>
            
            <div class="form-group">
                <h4 class="secondary-header text-right mt-2 mb-0">
                    קטגוריה *
                </h4>         
                <select id="category" class="custom-select mb-3" formControlName="category" >
                    <option *ngFor="let item of categories" [value]="item._id">{{item.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <h4 class="secondary-header text-right mt-2 mb-0">
                    קובץ לטעינה *
                </h4> 
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" id="fileBrowser" (change)="onFileChange($event)"
                            accept="application/pdf, .doc, .docx, .ppt, .pptx,"/>
                    <label #fileBrowserLabel id="fileBrowserLabel" class="custom-file-label" for="fileBrowser">בחירת קובץ...</label>
                </div>
                <div *ngIf="fileErrorSize" class="alert alert-danger" role="alert">
                    File size must be less then 10MB
                </div>
            </div>
        </div>
        <p class="text-danger text-center mt-3" *ngIf="!isFormValid()">אנא מלאו את כל הפרטים הנדרשים (מסומן ב-*).</p>

        <div class="form-group modal-footer d-flex justify-content-center pt-2 pb-5 rtl">
            <button (click)="uploadContent()" [disabled]="!isFormValid()" style="font-size: 1.3em;" class="btn btn-primary mb-2 shadow-none" data-dismiss="modal">העלה</button>
        </div>
    </form>
</div>