<footer class="footer" style="padding: 8px;">
  <div class="container">
    <ul class="foote_bottom_ul_amrc">
      <li><a [routerLink]="getHomePath()">בית</a></li>
      <li><a  routerLink="/about">עלינו</a></li>
      <li><a href="mailto:BumbleB.Community@gmail.com">צרו קשר</a></li>
    </ul>
    <!--foote_bottom_ul_amrc ends here-->
    <p style="font-family: Calibri" class="text-center">Copyright © 2018 | <a href="https://www.facebook.com/BumbleB3339/" style="font-family: Calibri">BumbleB#3339</a></p>

  </div>

</footer>

