.comp-underlay {
  background-image: url("/assets/imgs/d01df4038d231e4c1a935ebceca305b1.jpg");
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: -1;
}

tbody {
  background: #00000005;
}

.card.entity {
  min-height: 370px !important;
}

.card-body .badge {
  margin-left: 6px;
  margin-bottom: 6px;
}

.card-body {
  padding-left: 1rem;
  padding-right: 1rem;
}

.card-footer {
  padding-top: 8px;
  padding-bottom: 8px;
}

.divider-4.yellow {
  margin-bottom: 1rem;
}

.divider-4.yellow::before {
  background-color: #F1C40F;
}


