
<div class="container" style="text-align: right;">
  <div class="row justify-content-center mt-3">
    <div class="col-sm-6 col-lg-4 col-md-6">
      <div class="card border-0 shadow bg-dark text-center">
        <img class="card-img" src="assets/images/card-price-table-bg-02.jpg" style="height: 120px;object-fit: cover;" alt="Card image">
        <div class="card-img-overlay d-flex align-items-center">
          <div class="w-100 p-2">
            <a href="#" class="btn btn-gray-shadow btn-outline-light btn-round btn-lg mb-0" style="font-size: 1.8em;">
              הוסף מתנדבים
              <i class="fas fa-user-plus ml-1" style="position: relative;top: 5px; font-size: 1.3em;"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-sm-none d-md-none col-lg-1"></div>
    <div class="col-sm-6 col-lg-4 col-md-6">
      <div class="card border-0 shadow bg-dark text-center">
        <img class="card-img" src="assets/images/card-price-table-bg-01.jpg" style="height: 120px;object-fit: cover;     object-position: 100% 45%;" alt="Card image">
        <div class="card-img-overlay d-flex align-items-center">
          <div class="w-100 p-2">
            <a href="#" class="btn btn-gray-shadow btn-outline-light btn-round btn-lg mb-0" style="font-size: 1.8em;">
              הוסף התנדבות
              <i class="fal fa-plus ml-1" style="position: relative;top: 5px; font-size: 1.3em;"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col">
      <h3>
        התאמות אחרונות
      </h3>
      <table class="table rtl">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col">
      <h3>
        הסטוריית אירועים
      </h3>
      <table class="table rtl" dir="rtl">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

