<div class="comp-container" style="min-height: 100%; display: flow-root;">
  <div class="container" style="text-align: right;">
    <div class="row justify-content-center mt-3">
      <div class="col-sm-6 col-lg-4 col-md-6">
        <div class="card border-0 shadow bg-dark text-center">
          <img class="card-img" src="assets/images/card-price-table-bg-02.jpg" style="height: 120px;object-fit: cover;"
               alt="Card image">
          <div class="card-img-overlay d-flex align-items-center">
            <div class="w-100 p-2">
              <a routerLink="/volunteers/add" class="btn btn-gray-shadow btn-outline-light btn-round btn-lg mb-0"
                 style="font-size: 1.8em;">
                רוצה להתנדב
                <i class="fas fa-user-plus ml-1" style="position: relative;top: 5px; font-size: 1.3em;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="d-sm-none d-md-none col-lg-1"></div>
      <div class="col-sm-6 col-lg-4 col-md-6">
        <div class="card border-0 shadow bg-dark text-center">
          <img class="card-img" src="assets/images/card-price-table-bg-01.jpg"
               style="height: 120px;object-fit: cover;     object-position: 100% 45%;" alt="Card image">
          <div class="card-img-overlay d-flex align-items-center">
            <div class="w-100 p-2">
              <a routerLink="/opportunities/add" class="btn btn-gray-shadow btn-outline-light btn-round btn-lg mb-0"
                 style="font-size: 1.8em;">
                מחפש מתנדבים
                <i class="fal fa-plus ml-1" style="position: relative;top: 5px; font-size: 1.3em;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="row justify-content-center mt-3">-->
      <!--<div class="col rtl">-->
        <!--<h2 style="display: inline;">-->
          <!--<i class="fas fa-history"></i>-->
          <!--היסטוריית אירועים-->
        <!--</h2>-->
        <!--<small class="mr-2">ארועי התנדבות שהושלמו</small>-->
        <!--<table class="table rtl table-sm table-hover" dir="rtl">-->
          <!--<thead class="thead">-->
          <!--<tr>-->
            <!--<th scope="col">#</th>-->
            <!--<th scope="col">גוף</th>-->
            <!--<th scope="col">מידע</th>-->
            <!--<th scope="col">תאריך</th>-->
            <!--<th scope="col">דירוג</th>-->
          <!--</tr>-->
          <!--</thead>-->
          <!--<tbody>-->
          <!--<tr>-->
            <!--<th scope="row">1</th>-->
            <!--<td>שם גוף 1</td>-->
            <!--<td>-->
              <!--<span style="cursor: pointer;" class="badge badge-dark ml-1">-->
                <!--<i class="fas fa-book ml-1"></i>-->
                <!--תוכן-->
              <!--</span>-->
              <!--<span style="cursor: pointer;" class="badge badge-dark ml-1">-->
                <!--<i class="fas fa-mobile-alt ml-1"></i>-->
                <!--איש קשר-->
              <!--</span>-->
              <!--<span style="cursor: pointer;" class="badge badge-dark ml-1">-->
                <!--<i class="fas fa-map-marker-alt ml-1"></i>-->
                <!--מיקום-->
              <!--</span>-->
              <!--<span style="cursor: pointer;" class="badge badge-dark ml-1">-->
                <!--<i class="fas fa-comment-alt ml-1"></i>-->
                <!--הערות-->
              <!--</span>-->
            <!--</td>-->
            <!--<td>21/12/2018</td>-->
            <!--<td style="color: #f4c113; text-align: center;">-->
              <!--<i class="fas fa-star"></i>-->
              <!--<i class="fas fa-star"></i>-->
              <!--<i class="fas fa-star"></i>-->
              <!--<i class="fas fa-star"></i>-->
              <!--<i class="fas fa-star"></i>-->
            <!--</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<th scope="row">2</th>-->
            <!--<td>שם גוף 2</td>-->
            <!--<td>-->
              <!--<span style="cursor: pointer;" class="badge badge-dark ml-1">-->
                <!--<i class="fas fa-book ml-1"></i>-->
                <!--תוכן-->
              <!--</span>-->
              <!--<span style="cursor: pointer;" class="badge badge-dark ml-1">-->
                <!--<i class="fas fa-mobile-alt ml-1"></i>-->
                <!--איש קשר-->
              <!--</span>-->
              <!--<span style="cursor: pointer;" class="badge badge-dark ml-1">-->
                <!--<i class="fas fa-map-marker-alt ml-1"></i>-->
                <!--מיקום-->
              <!--</span>-->
              <!--<span style="cursor: pointer;" class="badge badge-dark ml-1">-->
                <!--<i class="fas fa-comment-alt ml-1"></i>-->
                <!--הערות-->
              <!--</span>-->
            <!--</td>-->
            <!--<td>21/12/2018</td>-->
            <!--<td style="color: #f4c113; text-align: center;">-->
              <!--<i class="far fa-star"></i>-->
              <!--<i class="far fa-star"></i>-->
              <!--<i class="fas fa-star"></i>-->
              <!--<i class="fas fa-star"></i>-->
              <!--<i class="fas fa-star"></i>-->
            <!--</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<th scope="row">3</th>-->
            <!--<td>שם גוף 3</td>-->
            <!--<td>-->
              <!--<span style="cursor: pointer;" class="badge badge-dark ml-1">-->
                <!--<i class="fas fa-book ml-1"></i>-->
                <!--תוכן-->
              <!--</span>-->
              <!--<span style="cursor: pointer;" class="badge badge-dark ml-1">-->
                <!--<i class="fas fa-mobile-alt ml-1"></i>-->
                <!--איש קשר-->
              <!--</span>-->
              <!--<span style="cursor: pointer;" class="badge badge-dark ml-1">-->
                <!--<i class="fas fa-map-marker-alt ml-1"></i>-->
                <!--מיקום-->
              <!--</span>-->
              <!--<span style="cursor: pointer;" class="badge badge-dark ml-1">-->
                <!--<i class="fas fa-comment-alt ml-1"></i>-->
                <!--הערות-->
              <!--</span>-->
            <!--</td>-->
            <!--<td>21/12/2018</td>-->
            <!--<td style="color: #f4c113; text-align: center;">-->
              <!--<i class="fas fa-star-half-alt"></i>-->
              <!--<i class="fas fa-star"></i>-->
              <!--<i class="fas fa-star"></i>-->
              <!--<i class="fas fa-star"></i>-->
              <!--<i class="fas fa-star"></i>-->
            <!--</td>-->
          <!--</tr>-->
          <!--</tbody>-->
        <!--</table>-->
      <!--</div>-->
    <!--</div>-->
    <app-dashboard-tabs></app-dashboard-tabs>
  </div>
</div>
