@import "../../../variables";

@media only screen and (max-width: $tablet) {
  .carousel-inner .carousel-item .background-img {
    background-size: auto 100%;
    background-position: 45% center;
  }

  .carousel .overlay-body {
    padding: 25px 30px;
  }

  .btn {
    width: 100%;
  }
}

.carousel-item .background-img {
  min-height: calc(100vh - 77.16px - 86px);
  width: 100%;
  background-size: 100% auto;
  background-position: center;
  background-image: url("/assets/imgs/377703-PBLQL4-228.jpg");

}
.overlay-body {
  height: calc(100vh - 77.16px - 86px);
  width: 100%;
  position: absolute;
  z-index: 2;
  padding: 50px 100px;
  direction: rtl;
  text-align: right;
}

.carousel-inner {
  border-radius: 0;
}
