<div id="carouselIndicatorsStandard" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="overlay-body">
    <h2 class="display-4" style="font-weight: bold">ברוכים הבאים ל- Communibee! 🖐🤖</h2>
    <p class="h1 mb-4" style="font-weight: 100">אנחנו מחברים בין מתנדבים, בעלי מיומנות טכנולוגית הנדסית, וארגונים הזקוקים לעזרה, ומתאמים פעולות התנדבות על בסיס תכנים איכותיים בתחומי המדע והטכנולוגיה.</p>
    <div style="width: 100%; display: flex; align-items: center; flex-direction: column;">
      <button (click)="auth.login()" type="button" style="font-size: 2em; background: #00C7C3; border-color: #00b4b0;" class="btn btn-primary">
        <i class="fas fa-hands-helping ml-3" style="font-size: 1em; top: 3px; position: relative;"></i>
        הצטרפו אלינו!
      </button>
      <button routerLink="/browse/content" type="button" style="font-size: 2em;" class="btn btn-light ">
        <i class="fas fa-book ml-3" style="font-size: 1em; top: 3px; position: relative;"></i>
        עיינו בתכנים
      </button>
    </div>
  </div>

  <div class="carousel-inner shadow-lg">
    <div class="carousel-item active">
      <div class="background-img"></div>
    </div>
  </div>
</div>
