<div class="rtl">
  <nav class="navbar-dark bg-dark">
    <div class="nav nav-fill nav-tabs" id="nav-tab" role="tablist">
      <a href="#future" class="nav-item nav-link active" data-toggle="tab" (click)="selectTab(0)">התנדבויות עתידיות</a>
      <a href="#requests" class="nav-item nav-link" data-toggle="tab" (click)="selectTab(1)">בקשות שלי</a>
      <a href="#history" class="nav-item nav-link" data-toggle="tab" (click)="selectTab(2)">היסטוריה</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active"
         id="future"
         role="tabpanel"
         aria-labelledby="nav-home-tab">
      <app-generic-table [elements]="futureEvents" [genericColumns]="eventColumns"></app-generic-table>
    </div>
    <div class="tab-pane fade" id="requests" role="tabpanel"
         aria-labelledby="nav-profile-tab">
      <app-generic-table [elements]="volunteeringApplications" [genericColumns]="offerRequestTableColumns"></app-generic-table>
    </div>
    <div class="tab-pane fade" id="history" role="tabpanel"
         aria-labelledby="nav-contact-tab">
      <app-generic-table [elements]="historyEvents" [genericColumns]="eventColumns"></app-generic-table>
    </div>
  </div>
</div>
