<div class="table-cotainer">
  <table class="table table-sm table-striped table-hover">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope=col *ngFor="let column of columns | tableColumns">
        {{column.hebKey}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let element of elements| upcomingToLatest:'date'; let i = index"
        (click)="displayRow(element)">
      <th scope="row">{{i + 1}}</th>
      <td *ngFor="let column of columns | tableColumns" (click)="cellClicked(column.onClick, element, $event)">
        <app-cell-renderer [element]="element" [column]="column"></app-cell-renderer>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<app-modal *ngIf="selectedElement" [title]="getModalTitle()" (modalClosed)="modalClosed()">
  <div *ngFor="let column of columns | removeTitleColumn:selectedElement">
          <span *ngIf="selectedElement[column.key] !== undefined">
            <div class="container">
              <div class="row py-1">
                <span class="col-3"><span class="badge badge-secondary">{{column.hebKey}} :</span></span>
                <span class="col-9" *ngIf="column.modalRenderer; else cellRenderer"
                      [innerHTML]="column.modalRenderer(selectedElement[column.key])"></span>
                <ng-template #cellRenderer>
                  <app-cell-renderer [element]="selectedElement" [column]="column"></app-cell-renderer>
                </ng-template>
              </div>
            </div>
          </span>
  </div>
</app-modal>

