<div class="table-cotainer">
  <table class="table table-sm table-striped table-hover">
    <tbody>
    <tr *ngFor="let element of elements; let i = index"
        data-toggle="modal"
        data-target="#exampleModal"
        (click)="displayRow(element)">
      <th scope="row">{{i}}</th>
      <td *ngFor="let superKey of genericColumns">
        <span *ngIf="element[superKey.key]">
          <span *ngIf="superKey.cellRenderer; else noRender">
            {{superKey.cellRenderer(element[superKey.key])}}
          </span>
          <ng-template #noRender>
            <span>
              {{element[superKey.key]}}
            </span>
          </ng-template>
        </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span *ngFor="let key of selectedElement | objectKeys">
          <span>{{key}} :</span>
          <span>{{selectedElement[key]}}</span>
        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
