<div class="container">
  <div class="row rtl justify-content-center mt-2">
    <div class="col-lg-8 mt-3">
      <h2>
        בקשת התנדבות חדשה
      </h2>
      <div class="divider-4"></div>

    </div>
  </div>

  <div class="row rtl justify-content-center">
    <div class="col-lg-8">
      <form [formGroup]="form" (submit)="sendData()">
        <div class="input-group mb-3">
          <h4 class="secondary-header mt-2 mb-0">
            שם ההתנדבות *
          </h4>
          <div class="input-group-inner">
            <div class="input-group-prepend">
              <span class="input-group-text input-group-icon" id="inputGroupIconDefault"><i
                class="far fa-font"></i></span>
            </div>
            <input type="text" formControlName="title" class="form-control" aria-label="Username" aria-describedby="inputGroupIconDefault"
                   placeholder="הזן שם התנדבות">
            <div class="input-focus-bg"></div>
          </div>
        </div>

        <div class="input-group mb-3">
          <h4 class="secondary-header mt-2 mb-0">
            תיאור ההתנדבות *
          </h4>
          <div class="input-group-inner">
            <div class="input-group-prepend">
              <span class="input-group-text input-group-icon" style="height: 33px;" id="inputGroupIconDefault"><i
                class="far fa-question-circle"></i></span>
            </div>
            <textarea formControlName="about" class="form-control mt-1" id="TextareaDefault" placeholder="הזן תיאור ההתנדבות" rows="3"></textarea>

            <div class="input-focus-bg"></div>
          </div>
        </div>

        <h4 class="secondary-header mt-2 mb-0">
          איש קשר *
        </h4>
        <div class="row rtl justify-content-center" formGroupName="poc">
          <div class="col-lg-4">
            <div class="input-group mb-3">
              <div class="input-group-inner">
                <div class="input-group-prepend">
              <span class="input-group-text input-group-icon" id="inputGroupIconDefault"><i
                class="far fa-user"></i></span>
                </div>
                <input type="text" formControlName="name" class="form-control" aria-label="Username" aria-describedby="inputGroupIconDefault"
                       placeholder="שם מלא">
                <div class="input-focus-bg"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="input-group mb-3">
              <div class="input-group-inner">
                <div class="input-group-prepend">
              <span class="input-group-text input-group-icon" id="inputGroupIconDefault"><i
                class="far fa-phone"></i></span>
                </div>
                <input type="text" formControlName="phone" class="form-control" aria-label="Username" aria-describedby="inputGroupIconDefault"
                       placeholder="טלפון">
                <div class="input-focus-bg"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="input-group mb-3">
              <div class="input-group-inner">
                <div class="input-group-prepend">
              <span class="input-group-text input-group-icon" id="inputGroupIconDefault"><i
                class="far fa-at"></i></span>
                </div>
                <input type="text" formControlName="email" class="form-control" aria-label="Username" aria-describedby="inputGroupIconDefault"
                       placeholder="אימייל">
                <div class="input-focus-bg"></div>
              </div>
            </div>
          </div>

        </div>

        <div class="input-group mb-3">
          <h4 class="secondary-header mt-2 mb-0">
            תוכן
          </h4>
          <div class="input-group-inner">
            <input formControlName="content" type="text" class="form-control" placeholder="ללא תוכן" aria-label="Search" aria-describedby="inputGroupSearchDefault">
            <div class="input-group-append">
              <button class="btn btn-primary disabled mb-0 shadow-none" style="font-size: 1.2em;" type="button" id="inputGroupSearchDefault">
                חפש תוכן
                <i class="fas fa-books"></i>
              </button>
            </div>
            <div class="input-focus-bg"></div>
          </div>
        </div>

        <h4 class="secondary-header mt-2 mb-0">
          ימים אפשריים
        </h4>
        <div class="input-group mb-3" formGroupName="days">
          <div class="custom-control custom-checkbox">
            <input formControlName="1" type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">ראשון</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input formControlName="3" type="checkbox" class="custom-control-input" id="customCheck2">
            <label class="custom-control-label" for="customCheck2">שני</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input formControlName="3" type="checkbox" class="custom-control-input" id="customCheck3">
            <label class="custom-control-label" for="customCheck3">שלישי</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input formControlName="4" type="checkbox" class="custom-control-input" id="customCheck4">
            <label class="custom-control-label" for="customCheck4">רביעי</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input formControlName="5" type="checkbox" class="custom-control-input" id="customCheck5">
            <label class="custom-control-label" for="customCheck5">חמישי</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input formControlName="6" type="checkbox" class="custom-control-input" id="customCheck6">
            <label class="custom-control-label" for="customCheck6">שישי</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input formControlName="7" type="checkbox" class="custom-control-input" id="customCheck7">
            <label class="custom-control-label" for="customCheck7">שבת</label>
          </div>
        </div>

        <div class="input-group mb-3">
          <h4 class="secondary-header mt-2 mb-0">
            כתובת *
          </h4>
          <div class="input-group-inner">
            <input formControlName="address" type="text" class="form-control" placeholder="הזן כתובת או דקור נקודה במפה" aria-label="Search" aria-describedby="iputGroupSearchDefault">
            <div class="input-group-append">
              <button class="btn btn-primary disabled mb-0 shadow-none" style="font-size: 1.2em;" type="button" id="iputGroupSearchDefault">
                פתח מפה
                <i class="fas fa-map-marker-alt"></i>
              </button>
            </div>
            <div class="input-focus-bg"></div>
          </div>
        </div>

        <h4 class="secondary-header mt-2 mb-0">
          איזור בארץ *
        </h4>
        <div class="custom-control custom-radio">
          <input formControlName="region" type="radio" id="customRadio1" value="צפון" name="region" class="custom-control-input">
          <label class="custom-control-label" for="customRadio1">צפון</label>
        </div>
        <div class="custom-control custom-radio">
          <input formControlName="region" type="radio" id="customRadio2" value="מרכז" name="region" class="custom-control-input">
          <label class="custom-control-label" for="customRadio2">מרכז</label>
        </div>
        <div class="custom-control custom-radio">
          <input formControlName="region" type="radio" id="customRadio3" value="דרום" name="region" class="custom-control-input">
          <label class="custom-control-label" for="customRadio3">דרום</label>
        </div>

        <p class="text-danger text-center" *ngIf="!form.valid">אנא מלאו את כל הפרטים הנדרשים (מסומן ב-*).</p>

        <div class="form-group" style="justify-content: center; display: flex;">
          <button type="submit" style="font-size: 1.3em;" class="btn btn-outline-primary shadow-none">הוסף</button>
        </div>

      </form>
    </div>
  </div>
</div>
