/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "AlenbiSans";
  src: url(assets/fonts/AlenbiSans-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: "AlenbiSans";
  src: url(assets/fonts/AlenbiSans-Light.woff);
  font-weight: 200;
}

@font-face {
  font-family: "AlenbiSans";
  src: url(assets/fonts/AlenbiSans-Bold.woff);
  font-weight: bold;
}

@font-face {
  font-family: "AlenbiSans";
  src: url(assets/fonts/AlenbiSans-Black.woff);
  font-weight: 800;
}

@font-face {
  font-family: "FbOgen";
  src: url(assets/fonts/ogenregularwebfont.woff);
}

@font-face {
  font-family: "FbOgen";
  src: url(https://fonts.googleapis.com/css?family=Rubik);
}

a.nav-link {
  font-family: 'FbOgen';
  font-weight: 900;
  font-size: 1em !important;
}

.display-1, .display-2, .display-3, .display-4 {
  font-family: 'FbOgen';
}


p, button.btn {
  font-family: "FbOgen", Verdana, Tahoma;
  font-weight: 100;
}

h1, h2, h3, h4, h5 {
  font-family: "FbOgen", Verdana, Tahoma !important;
}

p.h1, p.h2, p.h3, p.h4, p.h5 {
  font-family: "FbOgen", Verdana, Tahoma;
}

