<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-hidden="true" dir="rtl">
  <div class="modal-dialog modal-dialog-signup modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>

        <div class="text-center px-3 pt-3">

          <img class="mb-4" src="assets/imgs/contact-us.png" height="100" alt="Register">

          <h4 class="section-title-4 text-center font-weight-800 text-uppercase mb-4 pb-1">
            צרו קשר
            <div class="title-divider-round"></div>
          </h4>

          <form>

            <div class="input-group input-group-round mb-3">
              <div class="input-group-inner">
                <div class="input-group-prepend">
                  <span class="input-group-text input-group-icon" id="modalRegisterUsername"><i class="far fa-user"></i></span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="modalRegisterUsername" placeholder="שם מלא">
                <div class="input-focus-bg"></div>
              </div>
            </div>

            <div class="input-group input-group-round mb-3">
              <div class="input-group-inner">
                <div class="input-group-prepend">
                  <span class="input-group-text input-group-icon" id="modalRegisterEmail"><i class="far fa-envelope"></i></span>
                </div>
                <input type="email" class="form-control" aria-label="Sizing example input" aria-describedby="modalRegisterEmail" placeholder="אימייל">
                <div class="input-focus-bg"></div>
              </div>
            </div>

            <div class="input-group input-group-round mb-4">
              <div class="input-group-inner">
                <div class="input-group-prepend">
                  <span class="input-group-text input-group-icon" style="height: 33px;" id="modalRegisterPassword"><i class="far fa-comment"></i></span>
                </div>
                <textarea class="form-control form-round" id="TextareaRounded" placeholder="רשום הודעה כאן..." rows="3"></textarea>

                <div class="input-focus-bg"></div>
              </div>
            </div>

            <button type="submit" class="btn btn-round btn-block" style="font-size: 1.3em; background: #F3C31B; color: black; font-weight: 900;">שלח<i class="fas fa-paper-plane"></i></button>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
